# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Mac system files
.DS_Store

# Virtual environments
venv/
env/

# Python environment files
.env

# Large dataset files (optional)
data/*.csv